pymupdf>=1.24.0
pillow>=10.0.0
numpy>=2.0.0
opencv-python-headless==4.10.0.84
easyocr>=1.7.2
paddleocr
paddlepaddle
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-Quartz
pyobjc-framework-Vision
wordfreq>=3.1.1
